<section id="characterPage" class="active">
    <h1 class="character"><%= detailData.name %></h1>
    <img class="heroImage" src="<%= detailData.thumbnail.path + '/portrait_uncanny.jpg' %>" alt="">
    <h1>Comics</h1>
    <ul class="comics">
        <% detailData.comics.items.forEach( comic => {%>
        <li class="name"><%= comic.name %></li>
        <% }) %>
    </ul>
</section>