<html>
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <h2>
        There seems to be a problem with the network..
    </h2>
    <%- include('partials/footer') %>
</body>

</html>